#root {
    --color-principal:#1F1E26; 
    --color-secondary:#D9CDBF;
    --color-third:#72A603;
    --color-four:#F27B13;
    --color-five:#F25D07;
    --color-six: #f3eae7;
  }

p {
    color: aliceblue;
}

.Container-main-about {
    margin: 10% auto;
    width: 80%;
}


.Container-about {
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

.Container-about > h1 {
    color: var(--color-six);
    align-items: start;
}

.Container-about > hr {
    background-color: var(--color-five);
    height: 2.5px;
    border-radius:10px;
}

.Container-about > p {
    font-weight: 400;
}

.btns-about {
  display: flex;
  gap: 10px;
}

.container-about-btn {
  text-decoration: none;
  color: gray;
  font-size: 1.2rem;
}

.container-about-btn:hover {
  text-decoration: underline;
}

.img-about {
    background-color: #D9CDBF;
    height: 60vh;
    overflow: hidden;
    padding: 0%;
    
}

.img-about > img {
    width: 100%;
    height: 100%;

}

.About-Row {
    display: grid;
    grid-template-columns: 65% 35%;
    gap: 30px;
    position: relative; /* O cualquier posición que necesites */
  z-index: 9999; 
  border-radius: 50px; 
  

}

.span-name {
    font-weight: 700;
}


@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.expand-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.expand-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 700ms, transform 700ms;
}
.expand-exit {
  opacity: 1;
  transform: translateX(0);
}
.expand-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 700ms, transform 700ms;
}

.languages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 20%;
  font-weight: bold;
  background: var(--color-principal);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px -3px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  animation: slideInFromLeft 0.7s forwards;
}

.container-languajes {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}
